.App {
  text-align: center;
  margin: 0px;
  background:(white);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  margin-inline-end: 50px;
  margin-inline-start: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(21, 11, 29);
}

.App-header img {
  width: 500px;
  height: auto;
}
.App-link {
  color: #021a20;
  float:inline-end;
  margin-inline-end: 10px; 
}

.App-link img {
  width: 35px;
  float: left;
}
